<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @task do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form_control' %>

      <%= f.label :category %>
      <%= f.text_field :category, class: 'form_control' %>

      <%= f.submit 'Make task', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
