<h1>All to-dos</h1>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <% @tasks.each do |task| %>
    <div class="task done-<%= task.status %>">
      <%= content_tag :p, task.content %>
      <%= content_tag :small, task.category, class: 'category' %>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success">
          <%= link_to 'Edit', edit_task_path(task) %>
        </button>
        <button type="button" class="btn btn-danger">
          <%= link_to 'Delete', task, method: :delete, 
                                      data: { confirm: 'Are you sure?' } %>
        </button>
      </div>
    </div>
    <% end %>
  </div>
</div>
