<% if entity.errors.any? %>
  <div id="error-listing">
    <div class="alert alert-danger">
      This page contains <%= pluralize entity.errors.count, 'error' %>
      <ul>
        <% entity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>