@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixin, variables, etc. */

$gray-medium-light: #eaeaea;
$success: #00933b;
$danger: #ae0001;
$done: #99cc99;
$undone: #efef66;

@mixin box-sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Universal */

body {
  margin-top: 50px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* Header */

#logo {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  nav {
    float: right;
  }
  small {
    float: left;
  }
}

/* alert */
.alert {
  margin-top: 15px;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

#error-listing {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form_control {
    color: $state-danger-text;
  }
}

/* to do listing */

.task {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  &.done-true {
    background-color: $done;
  }
  &.done-false {
    background-color: $undone;
  }
  .category {
    display: block;
    margin: 5px 0;
    color: $gray-light;
  }
}

/* button */

button {
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.task {
  .btn {
    padding: 2px 8px;
    border-radius: 0;
    font-size: 0.8em;
  }

  .btn-success {
    background-color: $success;
    border-color: $success;
  }

  .btn-danger {
    background-color: $danger;
    border-color: $danger;
  }
}

/* Misc */

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}